@import "./colors.scss";

.ant-spin-dot-item {
  background-color: $main-color;
}

.ant-layout-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background-color: #fff;
}

.ant-checkbox {
  background-color: $background-button-color;
}

.ant-bg-yellow {
  background-color: $background-button-yellow;
}

.ant-layout {
  height: 100vh;
}

.custom-ant-layout-sider {
  max-width: 260px !important;
  flex: 0 0 260px !important;
  width: 260px !important;
}

.ant-layout-content {
  margin: 0 !important;
  padding: 20px !important;
}

.ant-background-button {
  background-color: $background-button-color;
}
