$main-color: #85e8ff;
$background-color: #fff;
$hover-color: rgb(133 232 255 / 60%);
$background-main-color: #f5f7ff;
$background-button-color: #405cff;
$background-button-yellow: #EA8F25;
$background-button-add: #2264e5;
$background-button-refresh: #ea8f25;
$background-button-accept: #db3038;
$text-cancel-color: #52575c;